/data/
/data.backup
/data-download
!*/data/
inference_outputs
outputs
.idea
__pycache__
.ipynb_checkpoints
data2/dataset
data2/ExDark*
imageclasslist.txt*
.pdm-python
__MACOSX
temp*
lightning_logs
lightning_logs_local
.env
wandb
.hydra
train.log
wandb_logs
csv_logs
wandb_artifacts_sandbox

